<script type="text/javascript">
  (function($) {
    $(document).ready(function() {
      $("input#disclaimer").on('click', function() {
        $(this).closest("form").submit();
      })
    })

  })(jQuery)
</script>
<div id="homepage">
	<div id="content"  class="take_all_space">
		<% if current_user.signed_in? && current_user.disclaimed? %>
			<%= render template: "users/progress" %>
		<% else %>

			<header class="text-center" style="color: #EE5127; font-size: 50px">
				SPACEF!T
			</header>

		<div class="row">
			<div class="col-xs-12">
			<%= render partial: "static_pages/home/carousel" %>
			</div>
		</div>

				<section id="choises" class="move_bottom">
					<%= form_for User.new, url: post_disclaimer_user_path, remote: true , html: {class: "panel-body" } do |f| %>
						<div class="checkbox">
							<label>
								<%= f.check_box :disclaimer,id: "disclaimer", data: {action: "submitOnClick"} %> <a href="#">Agree the terms and policy</a>
							</label>
						</div>
					<% end if current_user.disclaimer!=true %>

					<%= form_for User.new, url: update_user_path , html: {class: "panel-body" }, remote: true do |f| %>
						<%= f.select :language, User::LANGUAGES, {selected: current_user.language},
																		class: "form-control list-group-select pull-left",
																		data: {action: 'submitOnClick'}
						%>
					<% end %>

					<%= render partial: "shared/buttons" %>
				</section>
		<% end %>


	</div>
</div>
