<div class="container">
  <div id="content">
    <section class="main">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel">
            <div class="panel-heading">
              <span>Congratulation!</span>
              <a href="<%= workout_reload_path(reload_id: params[:id]) %>" class="pull-right"><i class="fa fa-repeat"></i></a>
            </div>
            <div class="panel-body">
              <blockquote>
                <p><%= @quote.text %></p>
                <footer><%= @quote.author %></footer>
              </blockquote>
            </div>
          </div>
          <% if current_user.rateapp.nil? %>
            <ul class="list-group">
                Rate the app
                <% [1,2,3,4,5].each do |i_| %>
                  <%= form_for User.new, url: rateapp_path do |f_| %>
                    <%= f_.hidden_field :rateapp, value: i_ %>
                    <i class="rating-star fa fa-star-o pull-right" data-toggle="modal" data-target="#myModal" data-action="submitOnClick"></i>
                  <% end %>
                <% end %>
              </li>
            </ul>
          <% end %>
          <p>One more?</p>
        </div>
        <% [["RLX", :workout_location_path, "relax"  ],
            ["F!T", :workout_position_path, "fit"    ],
            ["STC", :workout_position_path, "stretch"] ].each do |text_, option_, type_|%>
          <div class="col-xs-4">
            <%= link_to  self.send( option_, {type: type_} ), class: "btn btn-primary full-width" do %>
              <%= text_ %>
            <% end %> 
          </div>
        <% end %>
    </section>
  </div>
</div>

