
<div class="container">
  <div id="content">
    <section class="main">
      <div class="row">
        <div class="col-xs-12">
          <section class="panel">
            <header class="panel-heading text-center">
              Sign up
            </header>

            <%= form_for User.new, url: "/signup", method: "post" , html: {class: "panel-body" } do |f| %>
              <div class="block">
                <label class="control-label">Display name</label>
                <%= f.text_field :name, placeholder: "eg. Your name or company", class: "form-control" %>
              </div>
              <div class="block">
                <label class="control-label">Your email address</label>
                <%= f.text_field :email, placeholder: "test@example.com", class: "form-control" %>
              </div>
              <div class="block">
                <label class="control-label">Type a password</label>
                <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
              </div>
              <div class="checkbox">
                <label>
                <%= f.check_box :disclaimer %>Agree the <a href="#">terms and policy</a>
                </label>
              </div>
              <button type="submit" class="btn btn-info">Sign up</button>
            <% end %>

            <div class="panel-body">
              <div class="line line-dashed"></div>
              <div class="row">
                <div class="col-sm-6 text-center">
                   <a href="#" class="btn btn-facebook btn-circle btn-sm"><i class="fa fa-facebook"></i>Sign up with Facebook</a>
                </div>
                <div class="col-sm-6 text-center">
                  <a href="#" class="btn btn-twitter btn-circle btn-sm"><i class="fa fa-twitter"></i>Sign up with Twitter</a>
                </div>
              </div>
              <div class="line line-dashed"></div>
              <p class="text-muted text-center"><small>Already have an account?</small></p>
              <a href="signin.html" class="btn btn-white btn-block">Sign in</a>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>