<!DOCTYPE html>
<html>
<head>
  <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield(:title) || "SPACEF!T" %></title>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">
  <!-- [...] -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'> 

</head>

<body>
  <script type="text/javascript">
    mule={}
  </script>

  <%= render'layouts/header'%>

  <% if current_user.temp? && !["/", "/signup", "/signin"].include?(request.env['PATH_INFO'])  %>
    <div class="container nopadding">
        <div class="alert alert-info fade in text-center">
          Thaks for using our SPACEF!T Sign up for more exercises
        </div>
    </div>
  <% end %>


  <div class="container nopadding">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> fade in text-center" ><%= message %></div>
  <% end %>
  </div>

  <%= yield %>
  <%= render partial: 'layouts/footer' %>

  <%# yield(:after_js) %>

</body>
</html>

