<!DOCTYPE html>
<html>
<head>
  <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield(:title) || "SPACEF!T" %></title>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">
  <!-- [...] -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <%= favicon_link_tag 'favicon.png' %>
</head>

<body>

  <script type="text/javascript">
    mule={}
  </script>

  <%= render'layouts/header'%>

  <% if current_user.temp? && !["/", "/signup", "/signin"].include?(request.env['PATH_INFO'])  %>
    <div class="container nopadding" style="overflow:auto;">
        <div class="alert alert-info fade in text-center">
          Merci d’utiliser SPACEF!T, enregistrez-vous maintenant et bénéficier de futurs avantages.
        </div>
    </div>
  <% end %>

  <% flash.each do |message_type, message| %>
    <div class="container nopadding">
      <div class="alert alert-<%= message_type %> fade in text-center" ><%= message %></div>
    </div>
  <% end %>

  <%= yield %>
  <%= render partial: 'layouts/footer' %>

  <script type="text/javascript" src="//cdn.rawgit.com/icons8/bower-webicon/v0.10.7/jquery-webicon.min.js"></script>

  <%# yield(:after_js) %>

</body>
</html>

